--extra-index-url https://download.pytorch.org/whl/cu124

# External Python Dependencies for Spectral-Complexity-dev Pipelines
# This list covers dependencies across all scripts in HarmonizedSC_run_pipeline.py, HLS30, Tanager-1, EnMAP, Dragonette, and 1D-CNN

beautifulsoup4
browser-cookie3
captum
colour-science
earthaccess
folium
geopandas
h5py
joblib
matplotlib
networkx
numpy
pandas
Pillow
pnpxai
pyproj
pystac
pystac-client
PyYAML
rasterio
requests
SciencePlots
scikit-image
scikit-learn
scipy
shapely
streamlit
streamlit-folium
torch==2.6.0+cu124
torchdiffeq
torchkbnufft
tqdm
urllib3

